body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#menu {
    position: absolute;
    background: #221157;
    padding: 10px;
    font-family: "Source Sans Pro Light", sans-serif;
    color: white;
    width: 14em;
    padding-left: 30px;
    padding-right: 20px;
    font-size: 80%;
}

#menu h3 {
    font-family: "Source Sans Pro Bold", sans-serif;
}

#menu h3 img {
    padding-right: 10px;
}

#menu h4 {
    font-family: "Source Sans Pro Bold", sans-serif;
    margin-bottom: 0px;
}

#menu a,
#menu a:visited {
    text-decoration: none;
}

#menu a:hover {
    text-decoration: underline;
}

#menu a,
#menu a:hover,
#menu a:visited {
    color: white;
}

#menu input[type="radio"]:checked + label {
    font-family: "Source Sans Pro", sans-serif;
}

#button-close {
    position: absolute;
    left: 13em;
    top: 0.5em;
}

#button-open {
    position: absolute;
    left: 0.5em;
    top: 0.5em;
}

a.circle {
    width: 2em;
    height: 2em;
    font-size: 20px;
    text-align: center;
    border-radius: 2em;
    vertical-align: middle;
    display: table-cell;
    text-decoration: none;
}

#button-close a.circle {
    color: #221157;
    background: #fff;
}

#button-open a.circle {
    color: #fff;
    background: #221157;
}
